// experimental style


.x-teaserinfo {
    border: 1px solid rgba(0,0,0,0.15);
    padding: 1.5rem;
  
    x-h6 {
        margin-top: 0px;
        font-size: 165%;
        letter-spacing: -1px;
        text-align: center;
    }
}

/* Reglementer - Put paragraph sign before each paragramp and put 2em space after each paragraph */

.reglement {
    list-style-type: none;
    margin-left: 0;
}

.reglement:first-child {
    counter-reset: paragraph;
}

.reglement>li {
    counter-increment: paragraph;
    margin-bottom: 2em;
}

.reglement>li:before {
    content: "§ " counter(paragraph) ".";
    float: left;
    width: 3em;
    margin-left: -3em;
} 

.reglement {
    *list-style-type: decimal; /* targets IE6 and IE7 only */
}
